.property {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 48px;
  }

  @include desktop {
    margin-bottom: 64px;
  }

  h3 {
    margin: 0 0 1.2rem 0;
    line-height: 1.2;
  }
}

.property__image-wrap {
  flex: 1 100%;

  @include tablet {
    flex: 1;
    margin-right: 24px;
  }

  @include desktop {
    flex: 2;
    margin-right: 3.2rem;
  }
}

.property__details {
  flex: 1 100%;

  @include tablet {
    flex: 1;
  }

  @include desktop {
    flex: 2;
    margin-right: 32px;
  }
}

.property__address-box {
  flex: 1;
  background-color: #E5E5E5;
  padding: 8px;

  @include tablet {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    flex: 1 100%;
  }

  @include desktop {
    display: block;
    flex: 1;
    margin-top: 0;
  }

  img {

    @include tablet {
      margin-right: 24px;
    }

    @include desktop {
      margin-right: 32px;
    }
  }
}

.property__price {
  display: block;
  color: #f3512c;
  font-size: 2.3rem;
}

.property__image {
  display: block;
  width: 100%;
}

.property__address {
  padding-top: 8px;
  flex: 1;

  @include tablet {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
  }

  @include desktop {
    display: block;
    padding-top: 8px;
  }

  span {
    display: block;
    font-size: 1.2rem;
    line-height: 1.8;

    @include tablet {
      &:nth-child(1) {
        flex: 2;
      }

      &:nth-child(2) {
        flex: 5;
      }
    }

  }
}

