html {
  font-size: 10px;
  color: #333333;
  font-family: 'Lucida Sans Unicode', "Lucida Grande", sans-serif;
}

body {
  font-size: 1.4rem;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h2 {
  font-size: 1.8rem;
  line-height: 4rem;
}

h3 {
  font-size: 2rem;
  line-height: 4rem;
}

p {
  font-size: 1.4rem;
}

form {
  font-size: 1.4rem;
  line-height: 2rem;
}