<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/dist/index.css">
    </head>
    <body>
        <div class="container">
            <div class="container__content search">
                {{#if hasNoResults}}
                    <h2>No results found</h2>
                    <p>Enter another location and search again</p>
                {{else}}
                    <h2>Search for houses and flats for sale across the UK</h2>
                {{/if}}
                {{> search }}
            </div>
        </div>
    </body>
</html>